* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 70;
}

body {
    background-image: url("img/wpp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}